.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.container > h1{
    font-size: 30px;
    margin-bottom: 0px;
}

.container > h2{
    font-size: 30px;
    margin-top: 0px;
}

.container > textarea{
    height: 100vh;
    resize: none;
}

.container > buttons{
    display: flex;
    margin-top: 0px;
}

.container > buttons > input{
    background-color: #98A8F8;
    border-radius: 10px;
}


