
.all_tasks{
    height: calc(100vh - 75px - 60px);  
    width: 90%;
    margin: 0 auto;
    justify-content: end;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 5px solid #98A8F8;
    border-radius: 10px;
    align-items: center;
    margin-top: 60px;
    
}

#newtask{
    
    margin-top: 5px;
    position: relative;
    height: 45px;
    
}

#newtask input{
    margin-right: 10px;
    width: 80%;
    border: none;
    border-bottom: 2px solid #d1d3d4;
    color: #111111;
    font-weight: 500;
    margin-top: 10px;
    position: relative;
    font-size: 15px;
}

#newtask input:focus{
    outline: none;
    border-bottom: 3px solid #98A8F8;
    
}
#newtask button{
    margin-top: -30px;
    margin-left: 90px;
    position: relative;
    float: right;
    font-weight: 700;
    font-size: 30px;
    background-color: #98A8F8;
    border: none;
    color: #ffffff;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
#tasks{
    margin-top: 10px;
    position: absolute;
    top: 60px;
    width: 80%;
    /* margin-bottom: 300px; */
}

.task{
    margin-right: 10px;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    position: relative; 
    box-sizing: border-box;
    display: flex;
}

.task span{
    
    color: #111111;
    font-weight: 500;
    position: fixed;
    position: relative;
    font-size: 15px;
    font-weight: 400;
    width: 80%;
    border: none;
    border-bottom: 2px solid  #98A8F8;
    
    
    /* width: 80%;
    border: none;
    border-bottom: 1px solid #98A8F8;;
    
    font-size: 15px;
     */
}

.task button{
    margin-right: 20px;
    background-color: #ffffff;
    color: black;
    float: right;
    position: relative;
    cursor: pointer;
    outline: none;
    width: 35px;
    height: 35px;
    border: none;
}