main{
    background-color: var(--color1);
    opacity: 0.9;
}

.squares{
    position: relative;
    width: 100%;
    height: calc(100vh - 75px); 
    margin-top: 0px;
    display: flex;
    flex-direction: space-between;

    
}

.moodmate{
    align-items: center;
    display: flex;
    margin:10px;
    border-radius: 50px;
    justify-content: center;
    background-color: var(--color-angry);
    font-family: 'Pastel Colors', sans-serif;
}
.moodmate > h1{
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 8px;
}

a {
    color: black;
    text-decoration: none;
  }
.tl-sq, .tr-sq, .ml-sq, .mr-sq {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    text-align: center;
    border: 5px solid var(--color3);
    background-color: var(--color3);

    border-radius: 50px;
}

.tl-sq{
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 40%;
   
}

.tr-sq{
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 40%;
}
.ml-sq{
    position: absolute;
    top: 50%;
    left: 0;
    width: 40%;
    height: 40%;
}
.mr-sq{
    position: absolute;
    top: 50%;
    right: 0;
    width: 40%;
    height: 40%;
}
