.milestones {
    height: calc(100vh - 75px - 60px);
    margin-top: 60px;
  }
  
 
  
  .milestones > .trophy-pair {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }

  .trophy-pair > i{
    display: block;
    margin: 20px;
    font-size: 4em;
    color: var(--color3);
    text-align: center;
  }