:root {
    --navbar-icon-size: 40px;
    --navbar-color: #98A8F8;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

.navbar {
    width: var(--screen-width);
    position: fixed;
    bottom: 0;
    background-color: var(--navbar-color);
    height: 65px;
}

.navbar .active{
    background-color: #BCCEF8;
}

.navbar i{
    color: #FAF7F0;
    margin-bottom: 15px;
}

.navbar img {
    width: var(--navbar-icon-size);
    height: var(--navbar-icon-size);
    filter: invert(100%);
    vertical-align: bottom;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.navbar li {
    width: 100%;
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.navbar li p{
    font-size: 15px;
    margin-top: 0;
    height: 100%;
    padding-top: 1.5px;
    color: #FAF7F0;
}

.navbar li:not(:last-child) {
    border-right: 1px solid silver;
}

.navbar-top{
    display: fixed;
    flex-direction: row;
    font-family: 'Pastel Colors', sans-serif;
}

.navbar-top i{
    color: var(--navbar-color)
}

@media only screen and (max-width: 428px) {
    .navbar ul {
        width: 100vw;
    }
}

@media only screen and (max-width: 340px) {
    .navbar img {
        width: calc(var(--navbar-icon-size) - 10px);
        height: calc(var(--navbar-icon-size) - 10px);
    }
}