:root{
    --color1: #FAF7F0;
    --color2: #CDFCF6;
    --color3: #BCCEF8;
    --color4: #98A8F8;
}   /*var(--color...)*/

html {
    font-family: 'Pastel Colors', sans-serif;
}

.page-title{
    color: var(--color4)
}

.topleft{
    position: absolute;
    top: 1.5%;
    left: 2%;
}

.topcenter{
    position: absolute;
    left: 30%;
    right: 30%;
    top: -2.05%;
    text-align: center;
}

.topright{
    position: absolute;
    top: 1.5%;
    right: 2%;
}

.fa-face-smile-beam {
    color: #70a0c7;
    font-size: 28px;
}

.fa-face-smile {
    color: #86c76d;
    font-size: 28px; 
}

.fa-face-meh {
    color: #dbdd37;
    font-size: 28px; 
}

.fa-face-frown {
    color: #f9bb5e;
    font-size: 28px; 
}

.fa-face-angry {
    color: #b56363;
    font-size: 28px; 
}