:root{
    --color1: #FAF7F0;
    --color2: #CDFCF6;
    --color3: #BCCEF8;
    --color4: #98A8F8;
    --color-angry: #b56363;
    --color-frown: #f9bb5e;
    --color-meh: #dbdd37;
    --color-smile: #86c76d;
    --color-smile-beam: #70a0c7;
}   /*var(--color...)*/

html {
     font-family: 'Chalkduster', sans-serif;
}

.page-title{
    color: var(--color4)
}

.topleft{
    position: absolute;
    top: 1.5%;
    left: 2%;
}

.topcenter{
    position: absolute;
    left: 30%;
    right: 30%;
    top: -2.05%;
    text-align: center;
}

.topright{
    position: absolute;
    top: 1.5%;
    right: 2%;
}

.fa-face-smile-beam {
    color:  var(--color-smile-beam);
    font-size: 28px;
}

.fa-face-smile {
    color: var(--color-smile);
    font-size: 28px; 
}

.fa-face-meh {
    color: var(--color-meh);
    font-size: 28px; 
}

.fa-face-frown {
    color: var(--color-frown);
    font-size: 28px; 
}

.fa-face-angry {
    color: var(--color-angry);
    font-size: 28px; 
}

