.month-chooser, .year {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid silver;
}

.month-chooser > div, .year > div {
    width: 100%;
    text-align: center;
}

.month-chooser > div:not(:nth-child(2)), .year > div:not(:nth-child(2)) {
    color: silver;
    cursor: pointer;
}

.month-chooser > div:not(:nth-child(2)):hover, .year > div:not(:nth-child(2)):hover {
    color: black;
}

.calendar {
    display: flex;
    flex-direction: column;
    --calendar-primary-color: #000000;
    
}

.calendar > div {
    width: 100%;
    text-align: center;
    display: flex;
}

.week-row > div {
    margin: 1px;
    width: 100%;
    border: 1px solid silver;
    height: 50px;
    position: relative;
}

.week-row > div > div {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: fit-content;
}

.today {
    color: var(--calendar-primary-color) !important;
    font-weight: bold;
    border: 1px solid var(--calendar-primary-color) !important;
}